table {
  font-size: 1.5em;
  margin: auto;
  padding: 1% 0;
  display: inline-block;
}

#form, #adjusted-score-table {
  /*display: inline-block;*/
}

#form {
  margin-right: 4%;
}
#container {
  width: 820px;
  margin: auto;
}
